.feedback-page {
    gap: 2rem;
}

.feedback-page .feedback-navigation {
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    position: sticky;
    top: 8rem;
    z-index: 3;
    background: var(--bg-light);
}

.feedback-navigation button {
    place-items: center;
    background: var(--bg-dark);
    flex: 1;
    border-radius: .3rem;
    font-size: var(--heading);
    color: var(--text);
    transition: .3s;
    border: none;
    padding: 1rem;
    cursor: pointer;
}

.feedback-navigation button:hover,
.feedback-navigation button.active {
    background: var(--primary);
    color: var(--white);
}

.feedback-page .feedback-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 0 1rem;
}

.feedback-container .feedback-card {
    background: var(--bg);
}

@media screen and (max-width:750px) {
    .feedback-page .feedback-container {
        grid-template-columns: 1fr;
    }

    .feedback-container .feedback-card {
        background: none;
        border-bottom: .2rem solid var(--faded-text);
        border-radius: 0;
    }

    .feedback-container .feedback-card:last-child {
        border: none;
    }

}