.dashboard-page {
    align-items: start;
    justify-content: start;
}

.dashboard-page .score-card-container,
.dashboard-page .recent-task-container,
.dashboard-page .task-list-container {
    width: 100%;
    padding: 1rem;
}


.score-card-container .card:nth-child(1) {
    --button-color: var(--success);
}

.score-card-container .card:nth-child(2) {
    --button-color: var(--warning);
}

.score-card-container .card:nth-child(3) {
    --button-color: var(--danger);
}

.dashboard-page .title {
    font-size: var(--heading);
    padding: 1rem;
    margin-top: 5rem;
}





/* Responsive */

@media screen and (max-width:600px) {}