.dashboard-page {
    align-items: start;
    justify-content: start;
}

.dashboard-page .page-heading {
    font-size: var(--heading);
    align-self: center;
    padding: 1rem 3rem;
    margin: 1rem 0;
}

.page-body .page-body-heading {
    font-size: var(--heading);
    align-self: center;
    padding: 1rem;
    margin: 1rem 0;
}

.dashboard-page .page-body {
    width: 100%;
}

.page-body .score-card-container,
.page-body .task-list-container {
    padding: 1rem;
}

.page-body .task-list-container {
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
}

.score-card-container .card:nth-child(1) {
    --button-color: var(--success);
}

.score-card-container .card:nth-child(2) {
    --button-color: var(--warning);
}

.score-card-container .card:nth-child(3) {
    --button-color: var(--danger);
}






/* Responsive */

@media screen and (max-width:600px) {}