.dashboard-page {
    justify-content: flex-start;
}

.dashboard-page .score-card {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
    gap: 1rem;
}

.score-card .card:nth-child(1) {
    --button-color: var(--success);
}

.score-card .card:nth-child(2) {
    --button-color: var(--warning);
}

.score-card .card:nth-child(3) {
    --button-color: var(--danger);
}