.login-page {
    justify-content: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    background: var(--bg);
    padding: 2rem 1rem;
    border-radius: .5rem;
    border: .1rem solid var(--bg-dark);
    box-shadow: 0rem 2rem 2rem -1rem rgba(0, 0, 0, .5);
}

.login-container .login-heading {
    font-size: var(--large-font);
    padding: 0 0 1rem 0;
    text-align: center;
    margin-bottom: 2rem;
    margin-left: 2rem;
    align-self: flex-start;
    border-bottom: .5rem solid var(--primary);
}

.login-container .error-messages {
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background: linear-gradient(to right, transparent, var(--bg-dark), transparent);
    color: var(--text);
    font-weight: 600;
    font-size: var(--small-font);
    transition: .3s;
}

.login-container .login-inputs,
.login-container .login-inputs form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.login-inputs .input-container {
    position: relative;
    border-radius: .3rem;
    width: 50rem;

}

.input-container .icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: .3rem;
    border-right: .2rem solid var(--bg-dark);
}

.input-container input {
    font-size: var(--medium-font);
    width: 100%;
    padding: 1rem 1.5rem;
    padding-left: 6rem;
    padding-top: 2.5rem;
    border: none;
    background: var(--bg-light);
    border-radius: .3rem;
    color: var(--text);
    text-transform: uppercase;
}

.input-container input~label {
    position: absolute;
    left: 6rem;
    top: 50%;
    color: var(--text);
    transform: translateY(-50%);
    font-size: var(--medium-font);
    border-radius: .3rem;
    pointer-events: none;
    user-select: none;
    transition: .3s;
    filter: opacity(.7);
    padding: 0 .5rem;
}

.input-container input:focus~label,
.input-container input:not(:placeholder-shown)~label {
    top: .5rem;
    font-size: var(--small-font);
    color: var(--primary);
    transform: translateY(0%);
    font-weight: 600;
    line-height: 1rem;
    filter: opacity(1);
}


.login-inputs .login-button {
    background: var(--primary);
    border: .1rem solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.login-inputs .login-button:hover {
    color: var(--text);
    background: transparent;
    border: .1rem solid var(--primary);
}

.login-inputs .login-button:hover .loader span {
    color: var(--primary);
}

.login-button .loader {
    display: grid;
    place-items: center;
    color: var(--white);
}

.login-button .loader.loading {
    animation: rotate 2s ease-in-out infinite;
}

.login-button .text {
    color: var(--white);
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.login-button .loader span {
    font-weight: bold;
    font-size: var(--medium-font);
}


@media screen and (max-width:500px) {
    .login-inputs .input-container {
        position: relative;
        width: 80vw;
        border-radius: .3rem;

    }
}