/* .profile-page {} */
.profile-page .section-heading {
    font-size: var(--heading);
    padding: 3rem 1rem;
}

.profile-page .seciton-body {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.seciton-body .profile-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;

}

.profile-header .profile-pic {
    width: 10rem;
    height: 10rem;
    background: var(--primary);
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 5rem;
    user-select: none;
    font-weight: 800;
}

.profile-header .profile-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.profile-details .profile-info {
    font-size: var(--medium-font);
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-wrap: wrap;
}

.profile-info span:first-child {
    font-weight: bold;
    color: var(--primary);
}

.courses.profile-info .course {
    padding: 1rem;
    background: var(--bg-dark);
    border-radius: 5rem;
    white-space: nowrap;
}

.seciton-body .edit-profile {
    padding: 2rem 0;
}

.edit-profile .edit {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.edit .field-heading {
    font-size: var(--large-font);

}

.edit .field-body {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
}


.field-body .message-box {
    padding: .5rem;
    text-align: center;
    background: linear-gradient(to right, transparent, var(--bg-dark), transparent);
    color: var(--text);
    font-weight: 600;
    font-size: var(--small-font);
    transition: .3s;
}

.field-body .row {
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.field-body .row .input-container {
    flex: 1;
}

.field-body .row .input-container input {
    background: var(--bg);
    width: 100%;
    height: 5rem;
}



.field-body .row button {
    flex: .3;
    height: 5rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    color: var(--white);
    background: var(--primary);
    border: .1rem solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-weight: 600;
    transition: .3s;
}

.field-body .row button:hover {
    color: var(--text);
    background: transparent;
    border: .1rem solid var(--primary);
}

.row button span {
    animation: rotate 2s ease-in-out infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}


@media screen and (max-width:400px) {

    .field-body .row {
        flex-direction: column;
    }

    .field-body .row .input-container {
        width: 100%;
    }


    .field-body .row button {
        width: 100%;
    }
}