.course-card {
    display: flex;
    flex-direction: column;
    /* background: var(--bg); */
    border-radius: .5rem;
    transition: .3s;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.course-card:hover {
    box-shadow: 0 1rem 5rem -3rem var(--black);
}

.course-card .course-cover {
    background: var(--white);
    z-index: 1;
    transition: .3s;
    user-select: none;
    transform: translateY(50%);
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.course-cover .cover-image {
    width: 100%;
    height: 15rem;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.course-cover .cover-image img {
    width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center;
}

.course-cover .cover-default-image {
    font-size: 8rem;
    font-weight: 800;
    text-align: center;
    color: var(--bg-light);
    font-family: 'Poppins', sans-serif;
    padding-block: 3rem;
    text-shadow: .5rem .5rem .5rem var(--bg-dark), .6rem .6rem .5rem var(--bg-light), 1rem 1rem .5rem var(--bg-dark);
    font-size: italic;
    z-index: 1;
    line-height: 15rem;
    background: transparent;
    overflow: hidden;
    /* background: #000; */
    transition: .3s;
}


.course-cover .course-name {
    font-size: var(--large-font);
    text-shadow: .5rem .5rem .5rem var(--bg-dark), .6rem .6rem .5rem var(--bg-light), 1rem 1rem .5rem var(--bg-dark);
    padding: .5rem 0 .5rem 0;
    font-weight: 600;
    color: var(--primary);
    font-family: 'Poppins', sans-serif;
    font-size: italic;
    background: var(--bg);
    width: 100%;
    padding: .5rem;
    text-align: center;
}


.course-card .course-content {
    flex: 1;
    padding: 3rem 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: .3s;
    background: var(--bg);
    transform: translateY(-50%);
    z-index: -1;
}


.course-card:hover .course-content,
.course-card:hover .course-cover {
    transform: translateY(0%);
    z-index: 1;
}




.course-content .course-duration {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.course-duration .icon span,
.course-duration .text {
    color: var(--faded-text);
    font-size: var(--medium-font);
}



.course-content .enroll-course {
    background: transparent;
    margin-top: 1rem;
    border-radius: .3rem;
    overflow: hidden;
}

.enroll-course .enroll-course-btn {
    background: var(--secondary);
    display: block;
    text-align: center;
    font-size: var(--medium-font);
    border: none;
    padding: 1rem 2rem;
    color: var(--white);
    transition: .3s;
    width: 100%;
}

.enroll-course .enroll-course-btn:hover {
    background: var(--primary);
    box-shadow: 0 1rem 2rem -1rem var(--black);
    cursor: pointer;

}