.header {
    position: sticky;
    top: 0;
    z-index: 5;
    transition: box-shadow .3s;
}

.header .row {
    height: 8rem;
    padding: 1rem 2%;
    align-items: center;
}

.header.active {
    background: var(--secondary);
    box-shadow: 0 1rem 5rem -2rem var(--black);
    color: var(--white);
}

.header.active .hamburger span {
    background: var(--white);
}

header .heading {
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.heading .logo {
    width: 6rem;
    cursor: pointer;
    height: 6rem;
}

.heading .text {
    cursor: pointer;
}

.header-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}








/* Responsive */

@media screen and (max-width: 1050px) {

    .header-actions {
        position: absolute;
        z-index: 5;
        top: 8rem;
        left: 0;
        flex-direction: column-reverse;
        display: none;
        width: 100%;
        box-shadow: inset 0 1rem 5rem -2rem var(--black);
    }

    .header .row {
        width: 100%;
    }

    .header-actions.active {
        display: flex;
        padding: 1rem 3rem;
        background: var(--secondary);
    }

    .header-actions.active .row {
        justify-content: space-between;
    }

}