.header {
    width: 100%;
    height: 10rem;
    padding: 1rem 5%;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background: var(--bg-dark);
}

header .heading {
    align-items: center;
    gap: 1rem;
    flex: 1;
}

.heading .logo {
    width: 6rem;
    cursor: pointer;
    height: 6rem;
}

.heading .text {
    cursor: pointer;
}

.header-actions {
    display: flex;
}








/* Responsive */

@media screen and (max-width: 650px) {

    .header-actions {
        position: absolute;
        z-index: 5;
        top: 10rem;
        left: 0;
        display: none;
        width: 100%;
        justify-content: flex-end;
        background: var(--bg);
    }

    .header-actions.active {
        display: flex;
        padding: 1rem 3rem;
        background: var(--bg-dark);
    }

}