.hero-section {
    height: calc(100dvh - 10rem);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    position: relative;
}

.hero-section .hero-section-images {
    width: 100%;
    height: 100%;
    user-select: none;

}

.hero-section .hero-section-images img {
    position: absolute;
    width: auto;
    height: 100%;
    overflow: hidden;

}

.hero-section .hero-section-images img:first-child {
    left: 10%;
    top: 0;
    bottom: 0;
}

.hero-section .hero-section-images img:nth-child(2) {
    left: 50%;
    bottom: 35%;
    transform: translate(-50%, 50%);
    height: 30%;
}

.hero-section .hero-section-images img:last-child {
    right: 10%;
    bottom: 0;
    top: 0;
}

.hero-section .hero-section-content {
    position: absolute;
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
    width: 50%;
    text-align: center;
}

.hero-section-content .hero-section-heading {
    font-size: 5rem;
    color: var(--primary);
    text-shadow: -1px 1px 1px var(--black);
}

.hero-section-content .hero-section-sub-heading {
    font-size: var(--large-font);
    color: var(--secondary);
    text-shadow: 0 1px 1px var(--black);
}

.hero-section-content .hero-section-description {
    font-size: var(--small-font);
    padding: 1rem 0;
}

.hero-section .scroll-down {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-down .scroll-down-btn {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: var(--bg-light);
    border: .2rem solid var(--primary);
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    color: var(--text);
}

.scroll-down .scroll-down-btn:hover {
    background: var(--primary);
    color: var(--white);
}

.scroll-down-btn .text,
.scroll-down-btn .icon span {
    color: inherit;
}


/* Responsive */

@media screen and (max-width:1050px) {

    .hero-section .hero-section-images img {
        height: 90%;
    }
}

@media screen and (max-width:915px) {


    .hero-section .hero-section-images img {
        height: 80%;
    }

    .hero-section-content .hero-section-heading {
        font-size: 4rem;
    }

    .hero-section-content .hero-section-sub-heading {
        font-size: var(--medium-font);
    }

}

@media screen and (max-width:780px) {


    .hero-section .hero-section-images img {
        height: 60%;
    }

    .hero-section .hero-section-content {
        top: 5%;
    }

    .hero-section-content .hero-section-heading {
        font-size: 3.5rem;
    }

}

@media screen and (max-width:650px) {


    .hero-section .hero-section-images img {
        height: 50%;
    }

    .hero-section .hero-section-content {
        top: 5%;
    }

    .hero-section-content .hero-section-heading {
        font-size: 3rem;
    }

}


@media screen and (max-width:500px) {


    .hero-section .hero-section-images img:first-child,
    .hero-section .hero-section-images img:last-child {
        height: 0;
        width: 0;
    }

    .hero-section .hero-section-content {
        width: 100%;
    }

    .hero-section-content .hero-section-heading {
        font-size: 4.5rem;
    }

    .hero-section-content .hero-section-sub-heading {
        font-size: var(--large-font);
    }

    .hero-section-content .hero-section-description {
        font-size: var(--medium-font);
    }

    .hero-section .hero-section-images img:nth-child(2) {
        height: 30%;
        bottom: 40%;
    }

    .hero-section .scroll-down {
        bottom: 10%;
    }

}