.navbar {
    padding: 1rem;
}

.navbar.active {
    width: 100%;
    padding: 1rem;
}

.navbar .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.nav-list .nav-items {
    width: 100%;
}

.nav-items .nav-links {
    border-radius: .3rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: max-content;
    padding: 1rem;
    gap: .5rem;
    transition: .3s;
    font-size: var(--small-font);
}

.navbar.active .nav-links .icon span,
.navbar.active .nav-links .text {
    color: var(--white);
}


.nav-items .nav-links:hover {
    background: var(--primary);
    color: var(--white);
}



/* Resposive */

@media screen and (max-width:750px) {
    .navbar .nav-list {
        flex-wrap: wrap;
    }

}