.submit-solution {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    margin-top: 1rem;
    position: relative;
}

.submit-solution .input-box {
    flex: 1;
    overflow: hidden;
}

.input-box input {
    width: 100%;
    border: none;
    font-size: var(--medium-font);
    background: var(--bg-light);
    border: 1px solid var(--bg-dark);
    padding: 1rem;
    padding-right: 6rem;
    color: var(--text);
}

.input-box input:disabled {
    background: var(--bg-dark);
    color: var(--faded-text);
}

.submit-solution .action-buttons {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border-left: 1px solid var(--bg-dark);
    cursor: pointer;
}

.action-buttons .solution-action-button {
    padding: 1rem;
}

.action-buttons .solution-action-button span {
    font-size: var(--large-font);
}