.theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

.theme .icon {
    cursor: pointer;
    padding: .5rem;
    border-radius: 50%;
    font-size: var(--large-font);
    user-select: none;
    background: var(--bg);
    box-shadow: 0 1px 5px -2px var(--black), inset 0 1px 2px -5px var(--black);
}