/* Custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #9c394b;
  --secondary: #4a4e5a;
  --success: #41f1b6;
  --success-tint: #a8ffe2;
  --warning: #ffbb55;
  --warning-tint: #ffdeac;
  --danger: #ff7782;
  --danger-tint: #ffb1b8;
  --small-font: 1.2rem;
  --medium-font: 1.6rem;
  --large-font: 2rem;
  --heading: 2.5rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* Font Family */
  /* font-family: 'Babylonica', cursive;
  font-family: 'Poppins', sans-serif; */
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;

}

::selection {
  color: var(--bg-dark);
  background: var(--bg-dark);
}

/* Body */

body {
  --bg-light: hsl(330, 100%, 99%);
  --bg: hsl(0, 0%, 94%);
  --bg-dark: hsl(0, 0%, 88%);
  --text: #101010;
  --faded-text: rgba(0, 0, 0, 0.3);

  background: var(--bg-light);
  color: var(--text);
  overflow-x: hidden;
}

/* Body Dark Mode */

body.dark {
  --bg-light: hsl(0, 0%, 18%);
  --bg: hsl(0, 0%, 13%);
  --bg-dark: hsl(0, 0%, 8%);
  --text: #ffffff;
  --faded-text: rgba(255, 255, 255, 0.3);

  background: var(--bg-light);
  color: var(--text);
}

/* Predefined Resets */

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Helper Class */

.pending {
  background: var(--warning-tint);
}

.success {
  background: var(--success-tint);
}

.danger {

  background: var(--danger-tint);
}

.icon {
  display: grid;
  place-items: center;
}

.icon span {
  font-size: var(--large-font);
  color: var(--text);
  user-select: none;
}

.icon~.text {
  color: var(--text);
  font-size: var(--medium-font);
}


.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
}



@media screen and (max-width: 650px) {
  html {
    font-size: 50%;
  }

}





/* Responsive */

@media screen and (max-width:650px) {
  .dashboard-page {
    grid-template-columns: 1fr;
  }

  :root {
    --medium-font: 1.8rem;
  }
}