.events-page .page-body {
    width: 100%;
}

.events-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 2rem;
    padding: 0 1rem;
}

.events-container .events {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: var(--bg);
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.events-container .events .events-image {
    width: 100%;
    height: 20rem;
}

.events-container .events .events-text {
    color: var(--primary);
    font-size: var(--large-font);
    text-align: center;
    font-weight: 600;
    padding: 1rem 0;
}