.courses-page .page-thumbnail {
    display: flex;
    height: max(25rem, 25vh);
    width: 100%;
    background: var(--white);
    border-radius: .5rem;
}

.page-thumbnail img {
    border-radius: .3rem;
    object-fit: contain;
}

.courses-page .page-heading {
    font-size: 3rem;
    padding: 1rem 3rem;
    margin: 1rem 0;
    font-weight: 700;
}

.courses-page .courses-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    padding: 2rem 5%;
    align-self: flex-start;
    gap: 2rem;
}